@font-face {
  font-family: "Georgia";
  src: url("/fonts/Georgia-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue'";
  src: url("/fonts/HelveticaNeueCyr-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue'";
  src: url("/fonts/HelveticaNeueCyr-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Roman.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
