$mainColor: #ffffff;
$blueColor: #1287bf;
$darkColor: #2a2a2a;
$greyColor: #424242;
$lightGrey: #f0f2f4;
$redColor: #dd2a24;
$yellowColor: #f8cd53;
$formTextColor: #828282;

$fontOpenSans: 'Open Sans', sans-serif;
$Georgia: "Georgia";
//========================================================================================================================================================

body {
  color: $mainColor;
  font-family: "Helvetica";
  font-weight: 400;
}
.page {
  flex: 1 1 auto;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1021px;
  margin: 0 auto;
}
._img {
  position: relative;
}

._img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.btn {
  font-family: 'Helvetica Neue';
  background-color: $redColor;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  &:hover {
    transform: translate(3px,0px);
    opacity: .85;
  }
}
._text {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  opacity: 0.7;
  margin-bottom: 65px;
  
  &::after {
    position: absolute;
    content: '';
    width: 47px;
    height: 5px;
    left: calc(50% - 23.5px);
    bottom: -14px;
    background-color: $greyColor;
  }
}
//========================================================================================================================================================

.header {

  &__content {
    
  }

  &__row {
    background-color: $lightGrey;
    box-shadow: 0px 1px 0px 0px #e2e2e2;
    &_first {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color:$greyColor;
      padding: 7px 0 9px;
      margin-bottom: 42px;
    }

    &_two {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Helvetica Neue';
      color: $greyColor;
      background-color: #fff;
    }
  }

  &__phone {

    &_text {
      font-size: 15px;
      line-height: 1.2;
      margin-right: 40px;
      transition: all 0.3s ease 0s;
      &:hover {
        transform: translate(-3px,0px);
        opacity: .85;
      }
    }
  }

  &__email {

    &_text {
      font-size: 15px;
      line-height: 1.2;
      margin-right: 12px;
      transition: all 0.3s ease 0s;
      &:hover {
        transform: translate(-3px,0px);
        opacity: .85;
      }
    }
  }

  &__menu {
  }
}
.logo-click {
  transition: all 0.3s ease 0s;
  &:hover {
    transform: translate(3px,0px);
    opacity: .85;
  }
  color: $greyColor;
}
.fas {
  transition: all 0.3s ease 0s;
  &:hover {
    opacity: .7;
  }
}
.fa-mobile-alt {
  font-size: 18px;
  margin-right: 11px;
}
.fa-envelope {
  font-size: 19px;
  margin-right: 8px;
}
.fab {
  transition: all 0.3s ease 0s;
  &:hover {
    opacity: .7;
  }
}
.fa-facebook-square {
  font-size: 26px;   
  color: $blueColor;
}
.fa-graduation-cap {
  font-size: 57px;
  line-height: 1.2;
  color: $redColor;
  margin-right: 10px;
}
.logo {
  display: flex;
  align-items: center;
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 37px;
    font-weight: 700;
  }

  &__text {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
  }
}
.menu {

  &__icon {
  }

  &__body {
    display: flex;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    margin-right: 32px;
  }

  &__item {
    font-weight: 700;
  }

  &__link {
    color: $greyColor;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      background-color: $greyColor;
      border-radius: 50%;
      left: -16px;
      top: calc(50% - 2.5px);
    }
    &:hover {
      color: $redColor;
      &::before {
        display: none;
      }
    }
  }
  &__btn {
    color: $mainColor;
    padding: 12px 22px;
  }
}
.icon-menu {
}
//========================================================================================================================================================
// banner
.banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  &__content {
    text-align: center;
    padding: 176px 0 236px;
  }

  &__title {
    display: inline-block;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    &:hover {
      border-bottom: 1px solid $mainColor;
    }
  }

  &__desc {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 32px;
  }

  &__link {
    display: inline-block;
    margin: 0 auto;
    font-size: 23.5px;
    line-height: 1.2;
    font-weight: 700;
    padding: 25px 40px;
    background-color: $yellowColor;
    color: $mainColor;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    &:hover {
      transform: translate(3px,0px);
      opacity: 0.9;
    }
  }
}
//========================================================================================================================================================
// about us
.aboutUs {
  color: $greyColor;
  &__content {
    text-align: center;
    padding: 102px 0 119px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__column {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-right: 104px;
    width: 33.333333%;
    transition: all 0.3s ease 0s;
    padding: 10px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.44); 
      box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.44);
      & > .aboutUs__column-title {
        font-size: 24px;
      }
      & > .aboutUs__column-text {
        font-size: 16px;
      }
    }
  }
  &__column-image {
    width: 83px;
    height: 79px;
    margin: 0 auto 29px;
  }
  &__column-title {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 14px;
  }
  &__column-text {
    font-family: 'Open Sans';
    font-size: 13.5px;
    line-height: 22px;
    font-weight: 400;
    color: #5c5c5c;
  }
}
._title {
  font-family: 'Helvetica Neue';
  font-size: 36px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
}
//========================================================================================================================================================
// our approch
.ourAppoch {
  background-color: #f3f3f3;
  &__content {
    font-family: 'Helvetica Neue';
    text-align: center;
    padding: 90px 0 132px;
    color: $greyColor;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
  }
}
.ourAppoch {

  &__grid {
  }
}
.grid {
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr;
  row-gap: 40px;

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    text-align: left;
    background: $mainColor;
  }
  &__image {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: 236px;
  }

  &__box {
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 0 100px;
  }

  &__box-title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__box-text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }
}
.box-1 {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 105px;
    height: 105px;
    // background-color: #de2b24;
    background-image: url(../img/step-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid #ffffff;
    border-radius: 5px;
    left: -52.5px;
    top: calc(50% - 52.5px);
  }
}
.box-2 {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 105px;
    height: 105px;
    // background-color: #de2b24;
    background-image: url(../img/step-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid #ffffff;
    border-radius: 5px;
    right: -52.5px;
    top: calc(50% - 52.5px);
    z-index: 2;
  }
}
.box-3 {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 105px;
    height: 105px;
    // background-color: #de2b24;
    background-image: url(../img/step-3.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid #ffffff;
    border-radius: 5px;
    left: -52.5px;
    top: calc(50% - 52.5px);
  }
}
.box-4 {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 105px;
    height: 105px;
    // background-color: #de2b24;
    background-image: url(../img/step-4.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid #ffffff;
    border-radius: 5px;
    right: -52.5px;
    top: calc(50% - 52.5px);
    z-index: 2;
  }
}
._reverse .grid__image {
  grid-column-start: 3;
  grid-column-end: 4;
}
._reverse .grid__box {
  grid-column-start: 1;
  grid-column-end: 3;
}
//========================================================================================================================================================
// work
.white {
  color: $mainColor;
}
._text.white {
  &::after {
    background-color: $mainColor;
  }
}
.work {
  background-color: $redColor;
  &__content {
    padding: 110px 0 131px;
    text-align: center;
  }

  &__title {
    padding-bottom: 10px;
    font-size: 36px;
    line-height: 26px;
    font-weight: 700;
  }

  &__text {
    font-size: 20px;
    font-weight: 300;
  }

  &__grid {
    display: grid;
    grid-template: 1fr 1fr / repeat(4, 1fr);
  }
  &__grid-box {
  }

  &__grid-img {
  }
}
.white {
}
.box-work {
  background-color: #f35e59;
  padding: 75px 43px;
  &__title {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
  }

  &__text {
    font-size: 16px;
  }
}
.fas {
}
.fa-paper-plane {
  font-size: 36px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 25px;
}
//========================================================================================================================================================
// form
.form {
  background-color: $blueColor;
  &__content {
    padding: 99px 0 112px;
    text-align: center;

  }

  &__title {
    font-family: 'Helvetica Neue';
    font-size: 36px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
  }

  &__close {
    position: absolute;
    width: 49px;
    height: 49px;
    right: -25px;
    top: -25px;
    background-color: #de2b24;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: $mainColor;
    z-index: 3;
    & span {
      position: relative;
      &::after, &::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 3px;
        top: calc(50% - 1.5px);
        left: calc(50% - 7.5px);
        background-color: #fff;
      }
      &::after {
        transform: rotate(45deg);
      }
      &::before {
        transform: rotate(-45deg);
      }
    }
  }

  &__input {
    font-family: "Helvetica";
    font-size: 14px;
    line-height: 60px;
    font-weight: 400;
    color: #b0b0b0;
    width: 445px;
    height: 52px;
    background-color: rgba(241,241,241,0.0);
    // border: 1px solid $blueColor;
    border: 1px solid #d8d8d8;
    margin-bottom: 8px;
    padding-left: 21px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    margin-top: 36px;
    font-family: 'Helvetica Neue';
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    color: $mainColor;
    padding: 17px 30px;
  }
}
.accordion {

  &__title {
    display: block;
    position: relative;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    margin-bottom: 60px;
    border-radius: 50%;
    border: 3px solid $mainColor;
    cursor: pointer;

    &::after {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 17px;
      height: 3px; 
      border: 3px solid $mainColor;
      color: #fff;
      background-color: #fff;
    }

    & span {
      display: block;
      position: relative;
      transition: transform 0.3s ease 0s;
      &::after, &::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 3px;
        background-color: #fff;
        
      }
      &::after {
        transform: rotate(45deg);
        left: 12px;
        top: 0px;
      }
      &::before {
        transform: rotate(-45deg);
        right: 12px;
        top: 0px;
      }
    }
    &.active span {
      transform: rotateX(180deg);
    }
    &.active > .accordion__body-title {
      display: none;
    }
  }
  &__body {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  &__body-box {
    max-width: 683px;
    padding: 60px 60px 68px;
    background-color: $mainColor;
    color: $formTextColor;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;    

    &::before {
      position: absolute;
      content: '';
      width: 62px;
      height: 62px;
      top: -31px;
      left: calc(50% - 31px);
      background-color: $mainColor;
      transform: rotate(45deg);
    }
  }

  &__body-title {
    font-family: "Helvetica";
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 38px;
  }
}

//========================================================================================================================================================

// footer

.footer {

  &__content {
    background-color: $darkColor;
    text-align: center;
    padding: 88px 0 84px;
  }

  &__title {
    font-family: 'Helvetica Neue';
    font-size: 29px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 29px;
  }

  &__social {
    display: flex;
    max-width: 256px;
    margin: 0 auto 36px;
  }

  &__social-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    margin-right: 20px;
    border: 1px solid #fff;
    background-color: rgba(243,243,243,0.0);
    & i {
      font-size: 23px;
      line-height: 22px;
      font-weight: 400;
    }
    &:hover {
      border: 2px solid $redColor;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 31px;
  }

  &__copy {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
    color: #cecece;
    text-align: center;
    background-color: #515151;
    padding: 26px 0 27px;
  }
  &__form-input {
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #cecece;
    width: 683px;
    height: 54px;
    background-color: #515151;
    padding-left: 22px;
    margin-bottom: 27px;
  }
}
.form-footer__btn {
  font-family: Helvetica;
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  color: $mainColor;
  background-color: rgba(243,243,243,0.0);
  border: 2px solid #515151;
  padding: 20px 36px;
  border-radius: 5px;
  &:hover {
    border: 2px solid $redColor;
  }
}
.fab {
}
.fa-facebook-square {
}
.fa-twitter-square {
}
.fa-google-plus-g {
}
.fa-linkedin-in {
}
//========================================================================================================================================================
// end